<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Views Appointments</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style media="screen">
      body{
        display: block;
        font-family: Raleway;
        font-size: 1EM;
        text-align: center;
      }
      .container{
        display: flex;
      }
      .patient{
        border: 2px solid black;
        flex: 1;
        width: 17EM;
        margin: 10px;
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 5px;
      }

    </style>
  </head>
  <body>
    <h1>Agent <%= agents[0].agent_name %>'s Appointments</h1>

    <div class="status">
      <a href="/appointments">Unconfirmed Appointments</a>
      <a href="/confirmed_appointments">Confirmed Appointments</a>
      <a href="/completed_appointments">Completed Appointments</a>
    </div>

    <div class="container">
      <% for(let i = 0; i < appointments.length; i++) { %>
       <div class="patient">
         <h2><%= appointments[i].client_name %></h2>
         <p><%= appointments[i].client_email %></p>
         <p><%= appointments[i].date %></p>
         <p><%= appointments[i].client_comment %></p>
         <a href="/appointments/view/<%= appointments[i].id %>">View</a>
         </div>
       <% } %>
     </div>

  </body>
</html>
