<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointment Tracker</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <style media="screen">
    body {
      background: #eee
    }

      .container-fluid {
        max-width: 1000px;
      }

      header {
      background: #009688;
      padding: 2em 1em;
      color: #fff;
      margin-bottom: 2em;
      h1 {
        font-weight: 200;
      }
      }
      .card-block{
      padding: 1EM;
      border: 2px solid black;
      }
      .comments{
      padding: 1EM;
      }

      .card {
      margin-left: 7EM;
      background: #fff;
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
      border: 2px solid #fff;
      }

      [class*="row"] {
      margin: 0px auto;
      text-align: center;
      justify-content: center;
      }

      [class*="col-"] {
      background: #efefef;
      border: 1px solid #ddd;
      padding-top: .75rem;
      padding-bottom: .75rem;
      width: 100%;
      }

      .row{
        display:inline-flex;
      }

    </style>

</head>

<body>
  <header role="banner">
    <% if(agents.admin !== true) { %>
  	<h2>Welcome <%= agents.agent_name %></h2>
    <% } else { %>
      <h2>Admin Review</h2>
       <%}%>
    <div class="container">
      <div class="row">
          <form action="/appointments"method="get">
              <button type="submit" class="btn btn-info">Pending Bookings</button>
          </form>
          <form action="/confirmed_appointments" method="get">
              <button type="submit" class="btn btn-info">Active Bookings</button>
          </form>
          <form action="/completed_appointments" method="get">
              <button type="submit" class="btn btn-info">Completed Bookings</button>
          </form>
        </div>
      </div>
    </div>

    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="card-deck">
          <div class="card">
              <% for(let i = 0; i < appointments.length; i++) { %>
              <div class="card-block">
               <h2 class="card-title"><%= appointments[i].client_name %></h2>
               <p class="card-text"><%= appointments[i].client_email %></p>
               <p class="card-text"><%= appointments[i].date %></p>
               <p class="card-text"><%= appointments[i].client_comment %></p>
               <a href="/appointments/view/<%= appointments[i].id %>">View</a>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointment Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style media="screen">
      body{
        display: block;
        font-family: Raleway;
        font-size: 1EM;
        text-align: center;
      }
      .container{
        display: flex;
      }
      .patient{
        border: 2px solid black;
        flex: 1;
        width: 17EM;
        margin: 10px;
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 5px;
      }

    </style>
  </head>
  <body>
    <div class="agent">
        <h2>Welcome <%= agents.agent_name %></h2>
    </div>
    <div class="status">
      <a href="/appointments">Pending Appointments</a>
      <a href="/confirmed_appointments">Active Appointments</a>
      <a href="/completed_appointments">Completed Appointments</a>
    </div>

    <div class="container">
      <% for(let i = 0; i < appointments.length; i++) { %>
       <div class="patient">
         <h2><%= appointments[i].client_name %></h2>
         <p><%= appointments[i].client_email %></p>
         <p><%= appointments[i].date %></p>
         <p><%= appointments[i].client_comment %></p>
         <a href="/appointments/view/<%= appointments[i].id %>">View</a>
         </div>
       <% } %>
     </div>

  </body>
</html> -->
