<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
      body {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">This is what in the industry is called a Confirmation Note</h1>
      <p class="lead">Thank you,
      <%= appointments[0].client_name %>, for choosing
        <%= agents[0].agent_name %>. </p>
      <hr class="my-4">
      <p>An email will be sent to
      <%= appointments[0].client_email %> for your appointment on
        <%= appointments[0].date %> once confirmed by
          <%= agents[0].agent_name %>.</p>
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </div>

    
  </body>
</html>
