<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation</title>
  </head>
  <body>

    <h1>This is what in the industry is called a Confirmation Note</h1>
    <div class="">
      <p>Thank you, <%= appointments[0].client_name %>, for choosing <%= agents[0].agent_name %>.
      An email will be sent to <%= appointments[0].client_email %> for your appointment on <%= appointments[0].date %> once confirmed by <%= agents[0].agent_name %>.<p>
    </div>
    <a href="/">There is no place like home.</a>
  </body>
</html>
