<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profiles</title>

  </head>
  <body>








    <!-- <h1>Your Potential Future Agent Profile</h1>
    <div class="container">
      <% for(var i = 0; i < agents.length; i++){ %>
      <div class="agent">
        <h2><%= agents[i].agent_name %></h2>
        <img src="<%= agents[i].IMG_url %>" alt="" height=300px>
        <p>About Me: <%= agents[i].bio %></p>
        <p>Location: <%= agents[i].location %></p>

        <% if(agents[i].home !=false) { %>
          <p>Home</p>
        <% } %>

        <% if(agents[i].car !=false) { %>
          <p>Car</p>
        <% } %>

        <% if(agents[i].life !=false) { %>
          <p>Life</p>
        <% } %>

        <div class="left">
          <a href="/book/agent/<%=agents[i].id%> ">Book</a>
        </div>

      </div>
      <% } %>
    </div> -->

  </body>
</html>
